
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$font-weight-base: 300;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$moviebuff-yellow: #ffdd57;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//==================== Tailwind colors ====================
$btn-color-map: ("blue": $blue, "red": $red, "green": $green); // Define which colors can be used for buttons

$white: #ffffff;
$black: #22292F;

$grey-lightest: #F8FAFC;
$grey-lighter: #F1F5F8;
$grey-light: #DAE1E7;
$grey: #B8C2CC; // base
$grey-dark: #8795A1;
$grey-darker: #606F7B;
$grey-darkest: #3D4852;

$blue-lightest: #EFF8FF;
$blue-lighter: #BCDEFA;
$blue-light: #6CB2EB;
$blue: #3490DC; // base
$blue-dark: #2779BD;
$blue-darker: #1C3D5A;
$blue-darkest: #12283A;

$red-lightest: #FCEBEA;
$red-lighter: #F9ACAA;
$red-light: #EF5753;
$red: #E3342F; // base
$red-dark: #CC1F1A;
$red-darker: #621B18;
$red-darkest: #3B0D0C;

$green-lightest: #E3FCEC;
$green-lighter: #A2F5BF;
$green-light: #51D88A;
$green: #38C172; // base
$green-dark: #1F9D55;
$green-darker: #1A4731;
$green-darkest: #0F2F21;
//==================== END Tailwind colors ====================