
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$font-weight-base: 300;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$moviebuff-yellow: #ffdd57;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// My Colors - Tailwind
$white: #ffffff;
$grey-lightest: #F8FAFC;
$grey-lighter: #F1F5F8;
$grey-light: #DAE1E7;
$grey: #B8C2CC; // base
$grey-dark: #8795A1;
$grey-darker: #606F7B;
$grey-darkest: #3D4852;
$black: #22292F;